name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BUNDLE_BUILD__TORCH___RB: "--with-torch-dir=/home/runner/libtorch"
      BUNDLE_BUILD__TORCHCODEC: "--with-torch-dir=/home/runner/libtorch"
      LIBTORCH_VERSION: 2.10.0
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: ~/libtorch
          key: libtorch-${{ env.LIBTORCH_VERSION }}
        id: cache-libtorch
      - name: Download LibTorch
        if: steps.cache-libtorch.outputs.cache-hit != 'true'
        run: |
          cd ~
          wget -q -O libtorch.zip https://download.pytorch.org/libtorch/cpu/libtorch-shared-with-deps-$LIBTORCH_VERSION%2Bcpu.zip
          unzip -q libtorch.zip
      - run: sudo apt-get update && sudo apt-get install libavcodec-dev libavdevice-dev libavfilter-dev libavutil-dev
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "4.0"
          bundler-cache: true
      - uses: actions/cache@v5
        with:
          path: ~/data
          key: data
      - run: mkdir -p ~/data
      - run: bundle exec rake test
